body{
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

ul{
    display: flex;
    background-color: aqua;
    margin: 0px 0;
    padding: 0;
    list-style: none;
}

li{
    
    color: black;
    font-size: 19px;
padding: 15px;}