body {
      background-color: #212121;
      color: white;
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100vh;
    }

    #time, #date {
      font-size: 40px;
      background: orange;
      padding: 15px 40px;
      border-radius: 10px;
      margin: 10px;
      color: #000;
      font-weight: bold;
    }

    h2 {
      margin-bottom: 20px;
    }